<div class="menu">
    <div class="top-menu">
        <app-botao-lateral [routerLink]="['']" icone="bi bi-book" valor="Home"></app-botao-lateral>
        <app-botao-lateral icone="bi bi-box-seam" valor="Just For You"></app-botao-lateral>
        <app-botao-lateral [routerLink]="['/reading-list']" icone="bi bi-bookmark" valor="Reading List"></app-botao-lateral>
    </div>
    <div class="middle-menu">
        <app-botao-lateral icone="bi bi-cursor-text" valor="Draft"></app-botao-lateral>
        <app-botao-lateral icone="bi bi-blockquote-left" valor="Collaborations"></app-botao-lateral>
        <app-botao-lateral icone="bi bi-bar-chart" valor="Your Stats"></app-botao-lateral>
    </div>
    <div class="bottom-menu">
        <app-conta-usuario></app-conta-usuario>
    </div>
</div>