<div [routerLink]="['../../read',idProximaNoticia]" class="proxima-noticia">
    <h1>{{ tituloProximaNoticia }}</h1>
    <img src="{{imagemProximaNoticia}}">
</div>
<div class="sequencia">
    <app-bloco-sequencia [routerLink]="['../../read',idSequenciaUm]" [idNoticia]="idSequenciaUm" [tagNoticia]="tagSequenciaUm" [imagemNoticia]="imagemSequenciaUm"></app-bloco-sequencia>
    <app-bloco-sequencia [routerLink]="['../../read',idSequenciaDois]" [idNoticia]="idSequenciaDois" [tagNoticia]="tagSequenciaDois" [imagemNoticia]="imagemSequenciaDois"></app-bloco-sequencia>
    <app-mais-noticia></app-mais-noticia>
</div>