<div class="proxima-noticia">
    <h1>Esse é o título da próxima notícia do site.</h1>
    <img src="https://images.unsplash.com/photo-1531988042231-d39a9cc12a9a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
</div>
<div class="sequencia">
    <app-bloco-sequencia textoNoticia="Family" imagemNoticias="https://plus.unsplash.com/premium_photo-1664373232938-b14f67fb39ef?q=80&w=1950&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></app-bloco-sequencia>
    <app-bloco-sequencia textoNoticia="Kitchen" imagemNoticias="https://images.unsplash.com/photo-1506368249639-73a05d6f6488?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></app-bloco-sequencia>
    <app-mais-noticia></app-mais-noticia>
</div>