<div class="lista-container">
    <div class="imagem-lista">
        <img src="{{imagem}}">
    </div>
    <div class="texto-lista">
        <h1>
            {{titulo}}
        </h1>
        <h3>
            {{autor}}
        </h3>
    </div>
    <div class="botoes-interacao">
        <app-botao-interativo Enable="bi bi-star-fill" Disable="bi bi-star" textoBotaoInterativo="Favorite"></app-botao-interativo>
        <app-botao-interativo Enable="bi bi-reply-fill" Disable="bi bi-reply" textoBotaoInterativo="Reply"></app-botao-interativo>
    </div>
</div>