<app-botao-voltar [routerLink]="['../../reading-list']"></app-botao-voltar>
<div class="noticia-home">
    <div class="noticia">
        <h1>
            {{ tituloNoticia }}
        </h1>
        <div class="autor">
            <div class="quadro-img">
                <img src="https://images.ctfassets.net/h6goo9gw1hh6/2sNZtFAWOdP1lmQ33VwRN3/24e953b920a9cd0ff2e1d587742a2472/1-intro-photo-final.jpg?w=1200&h=992&fl=progressive&q=70&fm=jpg">
            </div>
            <h3>{{ autorNoticia }}</h3>
        </div>
        <p>{{ paragrafoNoticia }}</p>
    </div>
</div>
<div class="homepage">
    <app-imagens-noticia [imagemNoticia]="imagemNoticia"></app-imagens-noticia>
    <app-sequencia-noticia></app-sequencia-noticia>
    <div class="botoes-interativos">
        <app-botao-interativo Enable="bi bi-star-fill" Disable="bi bi-star" textoBotaoInterativo="Favorite"></app-botao-interativo>
        <app-botao-interativo Enable="bi bi-reply-fill" Disable="bi bi-reply" textoBotaoInterativo="Reply"></app-botao-interativo>
    </div>
</div>