<app-botao-voltar></app-botao-voltar>
<div class="noticia-home">
    <div class="noticia">
        <h1>
            {{ tituloNoticia }}
        </h1>
        <div class="autor">
            <div class="quadro-img">
                <img src="{{ imagemNoticia }}">
            </div>
            <h3>{{ autorNoticia }}</h3>
        </div>
        <p>{{ paragrafoNoticia }}</p>
    </div>
</div>
<div class="homepage">
    <app-imagens-noticia></app-imagens-noticia>
    <app-sequencia-noticia></app-sequencia-noticia>
    <div class="botoes-interativos">
        <app-botao-interativo Enable="bi bi-star-fill" Disable="bi bi-star" textoBotaoInterativo="Favorite"></app-botao-interativo>
        <app-botao-interativo Enable="bi bi-reply-fill" Disable="bi bi-reply" textoBotaoInterativo="Reply"></app-botao-interativo>
    </div>
</div>